.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
node_modules/**
.git/**
.gitignore
tsconfig.json
esbuild.js
.github/**
.codebuddy/**
openspec/**
**/.codebuddy/**
**/openspec/**
vscode-git-branches-*.vsix
